{
  "extends": "airbnb",
  "env": {
    "node": true,
    "jest": true,
  },
  "rules": {
    "no-plusplus": "off",
    "no-bitwise": "off",
    "no-console": "off",
    "linebreak-style": "off",
  }
}
